<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% end %}</title>
    {% block head %}
    {% if 'head_script' in globals() %} <script> {% raw head_script %} </script> {% end %}
    {% end %}

    <!-- Twitter Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body id="{% block body_id %}{% end %}" bgcolor="Grey">
    <!-- <link rel="stylesheet" href="/static/css/mdao-styles.css"> -->

    <div class="container-fluid master-container">

    {% block breadcrumbs %}
    {% end %}

    <div id="body">
    {% block body %}
        <div>
        {% block content_title %}{% end %}
        </div>
        <div class="content">
        {% block content %}{% end %}
        </div>
    {% end %}
    </div>

    {% block footer %}
    {% end %}
</body>

</html>
