      <!-- Name -->
      <div class="control-group string required">
        <label class="string required control-label" for="id_projectname"><abbr title="required">*</abbr>  Project Name:</label>
        <div class="controls">
          <input class="string required span6" id="id_project_name" name="projectname" size="50" type="text" 
                 value="{{ projectname }}" />
        </div>
      </div>

      <!-- Description -->
      <div class="control-group text optional">
        <label class="text optional control-label" for="id_description">Description:</label>
        <div class="controls">
          <textarea class="text optional span6" cols="40" id="id_description" 
                    name="description" rows="10">
             {{ description }}
          </textarea>
        </div>
      </div>

      <!-- Version -->
      <div class="control-group string">
        <label class="string control-label" for="id_version">Version:</label>
        <div class="controls">
          <input class="string span6" id="id_version" name="version" size="5" type="text"
                  value="{{ version }}" maxlength="5" />
          <p class="help-block">Version format is user defined</p>
        </div>
      </div>


