<title>Project Detail</title>

<h1>{{ project.projectname }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/projects/{{ project.id }}/" method="post">
    {% csrf_token %}
    <b>Project Name: </b> 
    <input type="textfield" name="projectname" id="projectname" value="{{ project.projectname }}" />
    <br>
    <b>Description: </b> 
    <input type="textfield" size="100" name="description" id="description" value="{{ project.description }}"  />
    <br>
    <b>Shared: </b>
    <!-- <input type="checkbox" name="shared" id="shared" value="{{ project.shared }}" /> -->
    <br>
<input type="submit" value="Submit Changes" />
</form>

<p>
<b>Last Modified: </b> {{ project.modified }}

<br>

<a href="/projects/">Back to Projects</a>