<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% end %}</title>
</head>

<body id="{% block body_id %}{% end %}" bgcolor="Grey">
	<!----------------------------------------->
	<!-- load all the scripts & style sheets -->
	<!----------------------------------------->

    <link rel="stylesheet" href="/static/css/mdao-styles.css">

    <div id="body">
    {% block body %}
        <div>
        {% block content_title %}{% end %}
        </div>
        <div class="content">        
        {% block content %}{% end %}
        </div>
    {% end %}
    </div>

    {% block footer %}
    {% end %}
    
</body>

</html>