{% extends "base.html" %}

{% block title %}
    OpenMDAO: Addons
{% end %}

{% block content %}
    <div>
        Enter the name of the distribution (without the extension) from the list below:
        <p>
        <form action="addons" method="POST">
            <table>
            {% raw addon_form.as_table() %}
            </table>
        <input type="submit" value="Install" />
        </form>        
        <p>
    </div>
    <div>
        Available distributions:
        <p>
        <iframe src={{addons_url}} width="500" height="400" marginwidth="0" marginheight="0" frameborder="no" scrolling="yes" style="border-width:2px; border-color:#333; background:#FFF; border-style:solid;">
        </iframe>
    </div>
{% end %}