{% extends "base.html" %}

{% block title %}
    {{ project.projectname }}
{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <h1>{{ project.projectname }}</h1>
    
    <form action="/projects/{{ project.id }}/" method="POST">
        {% csrf_token %}
        <table>
        {{ project_form.as_table }} 
        </table>
    <br>
    {% if project.filename %}
    <input type="submit" value="Update Project Details" />
    {% else %}
    <input type="submit" value="Create Project" />
    {% endif %}
    </form>

    <p>
    <b>Last Modified: </b> {{ project.modified }}
    <p>
    
    {% if project.filename %}
    <form action="/workspace/project/" method="GET">
        {% csrf_token %}
        <input type="hidden" name="filename" value="{{ project.filename }}" />
        <input type="submit" value="Load this project into Workspace" />
    </form>
    {% endif %}    
    
    <br>
{% endblock %}

{% block footer %}
   <a href="/projects/">Back to Projects</a>    <a href="/accounts/logout?next=/">Logout</a>
{% endblock %}
