{% extends "base.html" %}

{% block title %}
    {{ project.projectname }}
{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <h1>{{ project.projectname }}</h1>
    
    <form action="/projects/{{ project.id }}/" method="POST">
        {% csrf_token %}
        <table>
        <tr>
            <td><b>Project Name: </b> </td>
            <td><input type="textfield" name="projectname" value="{{ project.projectname }}" /> </td>
        </tr>
        <tr>
            <td><b>Description: </b>  </td>
            <td><input type="textfield" size="100" name="description" value="{{ project.description }}"  /> </td>
        <br>
        </tr>
            <td><b>Shared: </b> </td>
            <td><input type="checkbox" name="shared" {% if project.shared %} CHECKED {% endif %}  /> <td>
        <br>
        </table>
    <input type="submit" value="Submit Changes" />
    </form>

    <p>
    <b>Last Modified: </b> {{ project.modified }}
    <p>
    
    <form action="/workspace/project/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="filename" value="{{ project.filename }}" />
        <input type="submit" value="Load this project into Workspace" />
    </form>
    
    <br>
{% endblock %}

{% block footer %}
   <a href="/projects/">Back to Projects</a>    <a href="/accounts/logout?next=/">Logout</a>
{% endblock %}
