{% extends "projdb/base.html" %}

{% block title %}
    OpenMDAO
{% end %}

{% block head %}
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

{% end %}

{% block breadcrumbs %}
{% end %}


{% block content %}

    <div class='alert alert-info fade in' data-alert='alert'>
          <h3>Thank you for using OpenMDAO</h3>
          For further information, support or to participate in the OpenMDAO community, please visit <a href="http://openmdao.org">OpenMDAO.org</a>
    </div>
{% end %}
