<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Close window...</title>
    <meta charset="utf-8">
    <script>
        window.close();
        
        // this trick may work to close main window, but probably not
        (function() {
            window.open('','_parent','');
            window.close();
        })()
     </script>
</head>

<body bgcolor="Grey">
    <link rel="stylesheet" href="/static/css/mdao-styles.css">
    <h2>Thank you for using OpenMDAO.</h2>
    For further information, support or to participate in the OpenMDAO community, please visit <a href="http://openmdao.org">OpenMDAO.org</a>
    <p>
</body>

</html>