{% extends "base.html" %}

{% block title %}
    Projects
{% end %}

{% block content %}
    <p>Welcome, {{ current_user }}. Here are your projects:</p>

    {% if project_list %}
        <ul>
        {% for project in project_list %}
            <li><a href="/projects/{{ project.id }}/">{{ project.projectname }}</a></li>
        {% end %}
        </ul>
    {% else %}
        <p>No projects are available.</p>
    {% end %}
<p>
<a href='/projects/new/'>New project</a>
<p>
<a href='/projects/add/'>Add existing project</a>
{% end %}


{% block footer %}
    <a href="/logout?next=/">Logout</a>
{% end %}
