<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %} OpenMDAO: {{ user.username }} {% endblock %}</title>
</head>

<body bgcolor="Grey">
	<!----------------------------------------->
	<!-- load all the scripts & style sheets -->
	<!----------------------------------------->

    <link rel="stylesheet" href="/static/css/mdao-layout.css">
    <link rel="stylesheet" href="/static/css/mdao-styles.css">

    <!-- jQuery -->
    <link rel="stylesheet" href="/static/css/ui-darkness/jquery-ui-1.8.7.custom.css">
    <script src="/static/js/jquery-1.6.1.min.js"></script>
    <script src="/static/js/jquery-ui-1.8.7.custom.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.hotkeys.js"></script>
    <script language="javascript" type="text/javascript">
        try{
           jQuery.noConflict();
         } catch(e){};
    </script>
    
    <!--  ben alman's debug script (for development only, remove for flight)  -->
    <script src="/static/js/ba-debug.min.js"></script>
    
    <!--  use codemirror for the text editor  -->
    <script src="/static/codemirror/js/codemirror.js"></script>
    
    <!--  draw2d stuff for workflow/dataflow  -->
    <script src='/static/js/wz_jsgraphics.js'></script>
    <script src='/static/js/mootools.js'></script>
    <script src='/static/js/moocanvas.js'></script>
    <script src='/static/js/draw2d.js'></script>

    <!-- use SlickGrid for properties editor -->
    <link rel="stylesheet" href="/static/css/slick.grid.css" type="text/css" media="screen" charset="utf-8" />
    <script src="/static/js/jquery.event.drag-2.0.min.js"></script>
    <script src="/static/js/slick.core.js"></script>
    <script src="/static/js/slick.grid.js"></script>
    <script src="/static/js/slick.editors.js"></script>
    
    <!-- jstree -->
    <script src="/static/js/jquery.jstree.js"></script>
	<script src="/static/js/modernizr.js"></script>

    <!-- flot -->
    <script src="/static/js/jquery.flot.js"></script>
    
    <!-- webGL -->
    <script src="/static/js/webgl/webgl-utils.js"></script> 
    <script src="/static/js/webgl/J3DI.js"> </script> 
    <script src="/static/js/webgl/J3DIMath.js" type="text/javascript"> </script> 
    
    <!-- context menus -->
    <script src="/static/js/ContextMenu.js"></script>

    <!-- openmdao specific imports -->
	<script src="/static/js/openmdao/Util.js"></script>
	<script src="/static/js/openmdao/Model.js"></script>
	<script src="/static/js/openmdao/Component.js"></script>
	<script src="/static/js/openmdao/ObjectTree.js"></script>
	<script src="/static/js/openmdao/FileTree.js"></script>
	<script src="/static/js/openmdao/Palette.js"></script>
	<script src="/static/js/openmdao/Console.js"></script>
	<script src="/static/js/openmdao/Menu.js"></script>
	<script src="/static/js/openmdao/TabbedPane.js"></script>
	<script src="/static/js/openmdao/CodeEditor.js"></script>
	<script src="/static/js/openmdao/PropertiesEditor.js"></script>
    <!-- schematic stuff -->
	<script src="/static/js/openmdao/DataFlow.js"></script>
	<script src="/static/js/openmdao/ComponentFigure.js"></script>    
	<script src="/static/js/openmdao/ContextMenuConnection.js"></script>    
	<script src="/static/js/openmdao/Toolbar.js"></script>    
	<script src="/static/js/openmdao/ToolShowGrid.js"></script>    
        <!-- experimental -->
        <script src="/static/js/openmdao/Plotter.js"></script>
        <script src="/static/js/openmdao/ThreeDStuff.js"></script>
        <!-- experimental -->
	<script src="/static/js/mdao.js"></script>

	<!--------------------------------------->
	<!-- basic components of the workspace -->
	<!--------------------------------------->

    <nav id="menu">
    </nav>
    
    <div id="desktop">    
        <div id="leftcol">
            <dl id="leftcol_tabs">
                <dt id="otree_tab" target="otree_pane">Objects</dt>
                <dd id="otree_pane">
                    <ul id="otree"></ul>
                </dd>

                <dt id="ftree_tab" target="ftree_pane">Files</dt>
                <dd id="ftree_pane">
                    <ul id="ftree"></ul>
                </dd>
            </dl>
        </div>
        
        <div id="central">
            <dl id="central_tabs">
                <dt id="dataflow_tab" target="dataflow_pane">Workflow</dt>
                <dd id="dataflow_pane">
                    <div id="dataflow"></div>
                </dd>
                <dt id="editor_tab" target="editor_pane">Code</dt>
                <dd id="editor_pane">
                    <textarea id="texteditor"></textarea>
                </dd>
                <!-- experimental -->
                <dt id="plotter_tab" target="plotter_pane">Plot</dt>
                <dd id="plotter_pane">
                    <div id="plotter" style="width:600px;height:300px;"></div>
                </dd>
                <dt id="threed_tab" target="threed_pane">3D</dt>
                <dd id="threed_pane">
                    <canvas id="threed" style="width:600px;height:300px;"></canvas>
                </dd>
                <!-- experimental -->
            </dl>
        </div>

        <div id="rightcol">
            <dl id="rightcol_tabs">
                <dt id="palette_tab" target="palette_pane">Libraries</dt>
                <dd id="palette_pane">
                    <div id="palette" ></div>
                </dd>
                
                <dt id="properties_tab" target="properties_pane">Properties</dt>
                <dd id="properties_pane">
                    <div id="propertieseditor"></div>
                </dd>
            </dl>
        </div>
    </div>

    <div id="console">
        <!--  history  -->
        <div id="historybox">
            <div id="history">
            </div>
        </div>

        <!-- cmd line --> 
        <form id="cmdform" nostyle="display:none;"  method="post">
            <input type="text" id="command" />
            <input type="submit" value="Submit" class="button" id="command-button"/>
        </form>  
    </div>
    
</body>

</html>
