# Config file for setup of OpenMDAO branch/release testing and remote building.
# Each section (other than DEFAULT) represents a host.  The section name is
# used by various OpenMDAO remote testing/building scripts (via the --host=  option)
# to specify the host to run on.  
# The 'user' field must be supplied if the remote username is different from 
# the current username.
#
# Section type: EC2 image
# Required fields:
#    image_id:        Amazon image id
#    instance_type:   indicates size of the instance (c1.medium, m1.large, etc.)
#    security_groups: usually either default or windows
#    platform:        see below
#
# Section type: EC2 instance
# Required fields:
#    instance_id: Amazon image id (instance must already be running)
#    platform:        see below
#
# Section type: host with a known IP address
# Required fields:
#    addr: IP address of the host
#    platform:        see below
#
# All sections require the following fields:
#    user:     remote username (required only if different from current user)
#    platform: specifies the OS type (linux, windows, osx)
#
# The default location for this file is ~/.openmdao/testhosts.cfg

# default settings used by each section if not overridden in the section
[DEFAULT]
identity: ~/.ssh/lovejoykey.pem
py_versions: python2.6
security_groups: default
debug: true

[meerkat32]
image_id: ami-15fd3c7c
instance_type: c1.medium
user: ubuntu
platform: linux

[meerkat64]
image_id: ami-abfd3cc2
instance_type: m1.large
user: ubuntu
platform: linux

[win2008_32]
image_id: ami-e3fc3d8a 
instance_type: c1.medium
user: Administrator
security_groups: windows
platform: windows

[win2008_64]
image_id: ami-adea2ac4
instance_type: m1.large
user: Administrator
security_groups: windows
platform: windows

# a windows 2008 server 64 bit EC2 instance
#[win2008_64_instance]
#instance_id: i-0310516d
#user: Administrator
#platform: windows

# a linux 32 bit EC2 instance
#[meerkat32_instance]
#instance_id: i-27ba1746
#user: ubuntu
#platform: linux

# an example of a non-EC2 host. 'addr' is the IP address
#[local_mac]
#addr: 192.168.1.14
#user: foo
#platform: osx


