<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %} OpenMDAO Plugins: {{ current_user }} {% end %}</title>
</head>

<body bgcolor="Grey">
	<!----------------------------------------->
	<!-- load all the scripts & style sheets -->
	<!----------------------------------------->

    <link rel="stylesheet" href="/static/css/mdao-styles.css">
    <link rel="stylesheet" href="/static/css/mdao-layout.css">

    <div>
    Please use the command line interface to install plugins from the OpenMDAO plugin repository.
    </div>
    
</body>
</html>

