<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% end %}</title>

    <!-- =================================== -->
    <!-- load all the scripts & style sheets -->
    <!-- =================================== -->

    <link rel="stylesheet" href="/static/css/mdao-layout.css">

    <!-- modernizr -->
    <script type="text/javascript" src="/static/js/modernizr.js"></script>

    <!-- jQuery -->
    <link rel="stylesheet" href="/static/css/ui-openmdao/jquery-ui-1.8.21.custom.css">
    <link rel="stylesheet" href="/static/css/mdao-styles.css">
    <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"            ></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.9.1.min.js"         ></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"               ></script>
    <script type="text/javascript" src="/static/js/jquery.hotkeys.js"              ></script>
    <script type="text/javascript" src="/static/js/jquery.layout-latest.js"        ></script>
    <script type="text/javascript" src="/static/js/jquery.event.drag-2.0.min.js"   ></script>
    <script type="text/javascript" src="/static/js/jquery.hoverIntent.js"          ></script>
    <script type="text/javascript" src="/static/js/jquery.fileDownload.js"         ></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"       ></script>
    <script type="text/javascript" src="/static/js/openmdao/jquery.extensions.js"  ></script>

    <!--  ben alman's debug script -->
    <script type="text/javascript" src="/static/js/ba-debug.min.js"                ></script>

    <!--  draw2d stuff for workflow/dataflow  -->
    <script type="text/javascript" src="/static/js/wz_jsgraphics.js"               ></script>
    <script type="text/javascript" src="/static/js/mootools.js"                    ></script>
    <script type="text/javascript" src="/static/js/moocanvas.js"                   ></script>
    <script type="text/javascript" src="/static/js/draw2d.js"                      ></script>

    <!-- SlickGrid -->
    <link rel="stylesheet" href="/static/js/slickgrid/slick.grid.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/js/slickgrid/slick.columnpicker.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="/static/js/slickgrid/slick.core.js"        ></script>
    <script type="text/javascript" src="/static/js/slickgrid/slick.grid.js"        ></script>
    <script type="text/javascript" src="/static/js/slickgrid/slick.dataview.js"    ></script>
    <script type="text/javascript" src="/static/js/slickgrid/slick.editors.js"     ></script>
    <script type="text/javascript" src="/static/js/slickgrid/slick.columnpicker.js"></script>

    <!-- jstree pre 1.0 fixed -->
    <script type="text/javascript" src="/static/js/jquery.jstree.js"               ></script>
    <script>jQuery.jstree._themes = "/static/css/jstree-themes/";                   </script>

    <!-- flot -->
    <script type="text/javascript" src="/static/js/jquery.flot.js"                 ></script>

    <!-- context menus -->
    <script type="text/javascript" src="/static/js/ContextMenu.js"                 ></script>

    <!--  ace text editor  -->
    <script type="text/javascript" src="/static/ace-min/ace.js" charset="utf-8"    ></script>

    <!--  raphael for drawing svg figures -->
    <script type="text/javascript" src="/static/js/raphael.js"                     ></script>
    <script type="text/javascript" src="/static/js/openmdao/raphael.extensions.js" ></script>

    <!-- openmdao specific imports (to be rolled into single file at some point) -->
    <script type="text/javascript" src="/static/js/openmdao/Util.js"               ></script>
    <script type="text/javascript" src="/static/js/openmdao/Project.js"            ></script>
    <script type="text/javascript" src="/static/js/openmdao/Preferences.js"        ></script>
    <script type="text/javascript" src="/static/js/openmdao/Menu.js"               ></script>
    <script type="text/javascript" src="/static/js/openmdao/TabbedPane.js"         ></script>

    <script type="text/javascript" src="/static/js/openmdao/BaseFrame.js"          ></script>
    <script type="text/javascript" src="/static/js/openmdao/CodeFrame.js"          ></script>
    <script type="text/javascript" src="/static/js/openmdao/ObjectTreeFrame.js"    ></script>
    <script type="text/javascript" src="/static/js/openmdao/FileTreeFrame.js"      ></script>
    <script type="text/javascript" src="/static/js/openmdao/LibraryFrame.js"       ></script>
    <script type="text/javascript" src="/static/js/openmdao/PropertiesFrame.js"    ></script>
    <script type="text/javascript" src="/static/js/openmdao/WorkflowFrame.js"      ></script>
    <script type="text/javascript" src="/static/js/openmdao/DataflowFrame.js"      ></script>
    <script type="text/javascript" src="/static/js/openmdao/ConsoleFrame.js"       ></script>
    <script type="text/javascript" src="/static/js/openmdao/ObjectFrame.js"        ></script>
    <script type="text/javascript" src="/static/js/openmdao/ConnectionsFrame.js"   ></script>
    <script type="text/javascript" src="/static/js/openmdao/PassthroughsFrame.js"  ></script>
    <script type="text/javascript" src="/static/js/openmdao/PlotFrame.js"          ></script>
    <script type="text/javascript" src="/static/js/openmdao/GeomFrame.js"          ></script>
    <script type="text/javascript" src="/static/js/openmdao/DrawingFrame.js"       ></script>

    <script type="text/javascript" src="/static/js/openmdao/ComponentTreePane.js"  ></script>
    <script type="text/javascript" src="/static/js/openmdao/WorkflowTreePane.js"   ></script>
    <script type="text/javascript" src="/static/js/openmdao/DataflowPane.js"       ></script>
    <script type="text/javascript" src="/static/js/openmdao/WorkflowPane.js"       ></script>
    <script type="text/javascript" src="/static/js/openmdao/PropertiesPane.js"     ></script>
    <script type="text/javascript" src="/static/js/openmdao/ParametersPane.js"     ></script>
    <script type="text/javascript" src="/static/js/openmdao/ConstraintsPane.js"    ></script>
    <script type="text/javascript" src="/static/js/openmdao/ObjectivesPane.js"     ></script>
    <script type="text/javascript" src="/static/js/openmdao/CouplingVarsPane.js"   ></script>
    <script type="text/javascript" src="/static/js/openmdao/SlotsPane.js"          ></script>
    <script type="text/javascript" src="/static/js/openmdao/TriggersPane.js"       ></script>
    <script type="text/javascript" src="/static/js/openmdao/EventsPane.js"         ></script>

    <script type="text/javascript" src="/static/js/openmdao/DataflowFigure.js"           ></script>
    <script type="text/javascript" src="/static/js/openmdao/WorkflowFigure.js"           ></script>
    <script type="text/javascript" src="/static/js/openmdao/WorkflowComponentFigure.js"  ></script>
    <script type="text/javascript" src="/static/js/openmdao/SlotFigure.js"               ></script>

    <script type="text/javascript" src="/static/js/openmdao/DragAndDropManager.js" ></script>

    <script type="text/javascript" src="/static/js/openmdao/CellEditor.js"         ></script>
    <script type="text/javascript" src="/static/js/openmdao/ValueEditor.js"        ></script>
    <script type="text/javascript" src="/static/js/openmdao/CustomEditors.js"      ></script>

    <script type="text/javascript" src="/static/js/openmdao/LogFrame.js"           ></script>


    {% block head %}
    {% if 'head_script' in globals() %} <script> {% raw head_script %} </script> {% end %}
    {% end %}

</head>


<body id="body" bgcolor="Grey">

    {% block body %}
    {% end %}

    {% block footer %}
    {% end %}

</body>

</html>
