<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% end %}</title>

    <!-- =================================== -->
    <!-- load all the scripts & style sheets -->
    <!-- =================================== -->

    <link rel="stylesheet" href="/static/css/mdao-layout.css">
    <link rel="stylesheet" href="/static/css/mdao-styles.css">

    <!-- modernizr -->
    <script src="/static/js/modernizr.js"                   type="text/javascript"></script>

    <!-- jQuery -->
    <link rel="stylesheet" href="/static/css/ui-darkness/jquery-ui-1.8.7.custom.css">
    <script src="/static/js/jquery-1.7.1.min.js"            type="text/javascript"></script>
    <script src="/static/js/jquery-ui-1.8.7.custom.min.js"  type="text/javascript"></script>
    <script src="/static/js/jquery.cookie.js"               type="text/javascript"></script>
    <script src="/static/js/jquery.hotkeys.js"              type="text/javascript"></script>
    <script src="/static/js/jquery.layout-latest.js"        type="text/javascript"></script>
    <script src="/static/js/jquery.event.drag-2.0.min.js"   type="text/javascript"></script>
    <script src="/static/js/jquery.hoverIntent.js"          type="text/javascript"></script>
    <script src="/static/js/jquery.dataTables.min.js"       type="text/javascript"></script>

    <!--  ben alman's debug script (for development only, remove for flight)  -->
    <script src="/static/js/ba-debug.min.js"                type="text/javascript"></script>


    <!--  draw2d stuff for workflow/structure  -->
    <script src="/static/js/wz_jsgraphics.js"               type="text/javascript"></script>
    <script src="/static/js/mootools.js"                    type="text/javascript"></script>
    <script src="/static/js/moocanvas.js"                   type="text/javascript"></script>
    <script src="/static/js/draw2d.js"                      type="text/javascript"></script>

    <!-- SlickGrid -->
    <link rel="stylesheet" href="/static/js/slickgrid/slick.grid.css" type="text/css" media="screen" charset="utf-8" />
    <script src="/static/js/slickgrid/slick.core.js"        type="text/javascript"></script>
    <script src="/static/js/slickgrid/slick.grid.js"        type="text/javascript"></script>
    <script src="/static/js/slickgrid/slick.editors.js"     type="text/javascript"></script>

    <!-- jstree pre 1.0 fixed -->
    <script src="/static/js/jquery.jstree.js"               type="text/javascript"></script>
    <script>jQuery.jstree.THEMES_DIR = "/static/js/themes/";</script>

    <!-- flot -->
    <script src="/static/js/jquery.flot.js"                 type="text/javascript"></script>

    <!-- context menus -->
    <script src="/static/js/ContextMenu.js"                 type="text/javascript"></script>

    <!--  use ace for the text editor  -->
    
    <script src="/static/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>

    <!-- openmdao specific imports (to be rolled into single file at some point)-->
    <script src="/static/js/openmdao/Util.js"               type="text/javascript"></script>
    <script src="/static/js/openmdao/Model.js"              type="text/javascript"></script>
    <script src="/static/js/openmdao/Menu.js"               type="text/javascript"></script>
    <script src="/static/js/openmdao/TabbedPane.js"         type="text/javascript"></script>

    <script src="/static/js/openmdao/BaseFrame.js"          type="text/javascript"></script>
    <script src="/static/js/openmdao/CodeFrame.js"          type="text/javascript"></script>
    <script src="/static/js/openmdao/ComponentTreeFrame.js" type="text/javascript"></script>
    <script src="/static/js/openmdao/FileTreeFrame.js"      type="text/javascript"></script>
    <script src="/static/js/openmdao/PaletteFrame.js"       type="text/javascript"></script>
    <script src="/static/js/openmdao/PropertiesFrame.js"    type="text/javascript"></script>
    <script src="/static/js/openmdao/WorkflowFrame.js"      type="text/javascript"></script>
    <script src="/static/js/openmdao/DataflowFrame.js"      type="text/javascript"></script>
    <script src="/static/js/openmdao/ConsoleFrame.js"       type="text/javascript"></script>
    <script src="/static/js/openmdao/ComponentFrame.js"     type="text/javascript"></script>
    <script src="/static/js/openmdao/ConnectionsFrame.js"   type="text/javascript"></script>
    <script src="/static/js/openmdao/PlotFrame.js"          type="text/javascript"></script>

    <script src="/static/js/openmdao/DataflowPane.js"       type="text/javascript"></script>
    <script src="/static/js/openmdao/WorkflowPane.js"       type="text/javascript"></script>
    <script src="/static/js/openmdao/PropertiesPane.js"     type="text/javascript"></script>
    <script src="/static/js/openmdao/ParametersPane.js"     type="text/javascript"></script>
    <script src="/static/js/openmdao/ConstraintsPane.js"    type="text/javascript"></script>
    <script src="/static/js/openmdao/ObjectivesPane.js"     type="text/javascript"></script>
    <script src="/static/js/openmdao/CouplingVarsPane.js"   type="text/javascript"></script>
    <script src="/static/js/openmdao/SlotsPane.js"          type="text/javascript"></script>

    <script src="/static/js/openmdao/DataflowFigure.js"           type="text/javascript"></script>
    <script src="/static/js/openmdao/WorkflowFigure.js"           type="text/javascript"></script>
    <script src="/static/js/openmdao/WorkflowComponentFigure.js"  type="text/javascript"></script>
    <script src="/static/js/openmdao/VariableFigure.js"           type="text/javascript"></script>
    <script src="/static/js/openmdao/SlotFigure.js"               type="text/javascript"></script>

    {% block head %}
    {% if 'head_script' in globals() %} <script> {% raw head_script %} </script> {% end %}
    {% end %}

</head>


<body id="body" bgcolor="Grey">

    {% block body %}
    {% end %}

    {% block footer %}
    {% end %}

</body>

</html>
