{% extends "base.html" %}

{% block title %}
    OpenMDAO: Add Files
{% end %}

{% block body %}
    <div id="file-prompt">
        <div id="drop-area">
            <div id="drop-text">Drop Files Here</div>
        </div>
        <input id="select-area" type="file" name="myfile" class='button' multiple="true"/>
        <table id="listing"></table>
        {% if path %}
            <input type="hidden" name="path" value="{{ path }}" />
        {% end %}
        <input id="add-button" type="button" value="Add Files" class='button' onclick="uploadFiles()"/>
    </div>

    <style type="text/css">
        /*give the body height:100% so that its child
        elements can have percentage heights*/

        /*this is what we want the div to look like*/
        div#file-prompt{

            /*set the div in the top-left corner of the screen*/
            width:100%;
            height:100%;
            /*set the width and height to 100% of the screen*/
        }

        div#drop-area
        {
            display:none;
            height:30px;
            border-style:dotted;
            border-width:3px;
            border-radius:5px;
            border-color:white;
        }

        div#drop-text
        {
            position:relative;
            font-weight:bold;
            font-size:16pt;
            color:white;
            text-align:center;
        }


    </style>
    <script type="text/javascript">
        var fileprompt = document.getElementById("file-prompt");
        var selectArea = document.getElementById("select-area");
        var files = {};
        var eventStack = 0;

        selectArea.onchange = function(evt)
        {
            addFiles(this.files);
            evt.prevetnDefault();
            evt.stopPropagation();
        };

        fileprompt.ondragenter = function(evt)
        {

            if(eventStack == 0)
            {
                document.getElementById("drop-area").style.display = "block";
            }

            eventStack++;
            evt.preventDefault();
        };

        fileprompt.ondragleave = function(evt)
        {
            eventStack--;

            if(eventStack == 0)
            {
                document.getElementById("drop-area").style.display = "none";
            }
            evt.preventDefault();
        };

        fileprompt.ondrop = function(evt)
        {
            if(evt.target.id == "select-area")
            {
                addFiles(evt.dataTransfer.files);
            }

            document.getElementById("drop-area").style.display = "none";
            eventStack = 0;  
            evt.preventDefault();
        };

        document.getElementById("drop-area").ondrop = function(evt)
        {       
            addFiles(evt.dataTransfer.files);
            evt.preventDefault();
        };

        function addRow(fileName, fileSize)
        {
            var table = document.all("listing");
            var newRow = table.insertRow(table.rows.length);
            var newCell = newRow.insertCell();
            newCell.innerHTML = '<input type="checkbox" name=' + fileName + ' checked="checked" onclick="deleteRow(this)"/>' + fileName + ' ' + fileSize + ' bytes';
        }

        function deleteRow(src)
        {   
            var fileName = src.name
            var oRow = src.parentElement.parentElement;  
                
                //once the row reference is obtained, delete it passing in its rowIndex   
            document.all("listing").deleteRow(oRow.rowIndex);  
            delete files[fileName];
        }

        function uploadFiles()
        {
            var formData = new FormData();
            for (var fileName in files)
            {
                formData.append('file', files[fileName]);
            }

            // now post a new XHR request
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'upload');
            xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log('all done: ' + xhr.status);
                        window.close();
                    } else {
                                    console.log('Something went terribly wrong...');
                                        }
            };

            {% if path %} 
                formData.append('path', '{{ path }}');
            {% end %}

            xhr.send(formData);
        }
        
        function addFile(file_)
        {
            if(!(file_.name in files))
            {
                files[file_.name] = file_;
                addRow(file_.name, file_.size);
            }
        }

        function addFiles(fileList)
        {
            for(i=0; i<fileList.length; i++)
            {
                addFile(fileList[i]);
            }
        }
    </script>
{% end %}
