{% extends "base.html" %}

{% block title %} OpenMDAO: {{ project }} - {{ current_user }} {% end %}

{% block head %}
    <script src="/static/js/openmdao/main.js" type="text/javascript"></script>
{% end %}

{% block body %}
    <!-- ================================= -->
    <!-- basic components of the workspace -->
    <!-- ================================= -->

    <nav id="menu" class="ui-layout-north"
         onmouseover="layout.allowOverflow('north')" >
    </nav>

    <div id="leftcol" class="ui-layout-west">
        <div id="leftcol_tabs">
            <ul>
                <li id="otree_tab"><a href="#otree_pane">Objects</a></li>
                <li id="ftree_tab"><a href="#ftree_pane">Files</a></li>
            </ul>
            <div id="otree_pane"></div>
            <div id="ftree_pane"></div>
        </div>
    </div>

    <div id="central" class="ui-layout-center">
        <div id="central_tabs">
            <ul>
                <li id="dataflow_tab"><a href="#dataflow_pane">Dataflow</a></li>
                <li id="workflow_tab"><a href="#workflow_pane">Workflow</a></li>
            </ul>
            <div id="dataflow_pane"></div>
            <div id="workflow_pane"></div>
        </div>
        <div id="central_label"></div>
    </div>

    <div id="rightcol" class="ui-layout-east">
        <div id="rightcol_tabs">
            <ul>
                <li id="library_tab"><a href="#library_pane">Library</a></li>
                <li id="properties_tab"><a href="#properties_pane">Properties</a></li>
            </ul>
            <div id="library_pane"></div>
            <div id="properties_pane"></div>
        </div>
    </div>

    <div id="console" class="ui-layout-south"></div>
{% end %}
