<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> OpenMDAO Geometry Viewer: {{ geom_name }} </title>

    <!-- modernizr -->
    <script type="text/javascript" src="/static/js/modernizr.js"></script>

    <!-- jQuery -->
    <link rel="stylesheet" href="/static/css/ui-openmdao/jquery-ui-1.8.21.custom.css">
    <link rel="stylesheet" href="/static/css/mdao-styles.css">
    <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"         ></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.9.1.min.js"      ></script>
    <script type="text/javascript" src="/static/js/jquery.layout-latest.js"     ></script>
    <script type="text/javascript" src="/static/js/jquery.jstree.js"            ></script>
    <script>jQuery.jstree._themes = "/static/css/jstree-themes/";                </script>
    <script type="text/javascript" src="/static/js/jquery.jstreegrid.js"        ></script>

    <!--  WebViewer stuff  -->
    <script> var wv = {};           // global namespace for WebViewer            </script>
    <script type="text/javascript" src="/static/js/WebViewer/webgl-utils.js"    ></script>
    <script type="text/javascript" src="/static/js/WebViewer/webgl-debug.js"    ></script>
    <script type="text/javascript" src="/static/js/WebViewer/J3DIMath.js"       ></script>
    <script type="text/javascript" src="/static/js/WebViewer/wv-draw.js"        ></script>
    <script type="text/javascript" src="/static/js/WebViewer/wv-render.js"      ></script>
    <script type="text/javascript" src="/static/js/WebViewer/wv-gPrim.js"       ></script>
    <script type="text/javascript" src="/static/js/WebViewer/wv-sGraph.js"      ></script>
    <script type="text/javascript" src="/static/js/WebViewer/wv-socket.js"      ></script>
    <script type="text/javascript" src="/static/js/WebViewer/wv-cbManage.js"    ></script>
    <script type="text/javascript" src="/static/js/openmdao/WVTreeFrame.js"     ></script>
    <script type="text/javascript" src="/static/js/openmdao/WVCanvasFrame.js"   ></script>

    <!--  bootstrap  -->
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"> </script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- styles -->
    <style type="text/css">
        html, body, #leftframe, #riteframe {
            width: 100%;
            height: 100%;
            margin: 0px;
            overflow: hidden;
            background-color: gray;
        }

        #leftframe, #riteframe {
            border:1px solid #222;
        }

        #tree_frame {
            width: 100%;
            height: 100%;
            margin: 0px;
            overflow: auto;
            background-color: black;
        }

        #canvas_frame {
            width: 100%;
            height: 100%;
            margin: 0px;
        }
    </style>

    <script>
    jQuery(function() {
        // set the layout
        jQuery('body').layout({
            center: {
                paneSelector: '#riteframe'
            },
            west: {
                paneSelector: '#leftframe',
                size: 280
            }
        });

        // have some values for Zscreen
        wv.zNear =  1.0;
        wv.zFar  = 11.0;

        // our messages have the first NAME_SIZE bytes allocated for a topic name
        wv.NAME_SIZE = window.opener.openmdao.NAME_SIZE;
        wv.MSG_START = wv.NAME_SIZE;

        // a place to put the binary messages
        wv.messageQ = [];

        var handleMsg = function(message) {
            // NOTE: the message here is the entire ArrayBuffer containing the
            // padded topic name + the actual message being sent to the WebViewer.
            // This is done so we can avoid copying the buffer.
            wv.messageQ.push(message[1]);
        };

        window.opener.openmdao.project.addListener("{{geom_name}}", handleMsg);

        window.onbeforeunload = function() {
            window.opener.openmdao.project.removeListener("{{geom_name}}");
        };

        // create tree and canvas views and set callback functions
        var tf = new openmdao.WVTreeFrame("tree_frame", wv);
        var cf = new openmdao.WVCanvasFrame("canvas_frame", wv);

        wv.setCallback("InitUI", function() {
            tf.wvInitUI();
            cf.wvInitUI();
        })
        wv.setCallback("UpdateUI", function() {
            // wv.sgUpdate will be set to 1 if the sceneGraph has changed
            // should be set back to 0 after UI responds
            tf.wvUpdateUI();
            cf.wvUpdateUI();
            wv.sgUpdate = 0;
        })
        wv.setCallback("UpdateCanvas", cf.wvUpdateCanvas);
        wv.setCallback("Reshape",      cf.reshape);

        // start it up
        wv.Start();
    });
    </script>
</head>

<body oncontextmenu="return false;">
    <div class="row-fluid">
        <div id='leftframe' class='ui-layout-west'>
            <div id='tree_frame'>
            </div>
        </div>
        <div id='riteframe' class='ui-layout-center'>
            <div id="canvas_frame">
            </div>
        </div>
    </div>
</body>

</html>
