/* font */
html {
  font:12px Tahoma, Sans-serif;
}


/* colors & borders */
#menubar {
  background:#000;
}
#leftcol {
  background-color:#1a1a1a;
  border:1px solid #222;
}
#rightcol {
  background-color:#1a1a1a;
  border:1px solid #222;
}
#central {
  background: #fff;
  border:1px solid #222;
}
#central_label {
  display: block;
  font-size: 14px;
}
#footer {
  background: #6a6a6a;
  border:1px solid #222;
}

.ui-layout-toggler {
  border:1px groove #222;
}

/* menu styles */
nav {
  border:1px solid #222;
  background-color:#6a6a6a;
    font-size: 14px;
}
nav li a {
  border-left:1px solid #999;
  border-right:1px solid #222;
  color:#eee;
  text-decoration:none;
}
nav li a:focus {
  outline:none;
  text-decoration:underline;
}
nav li:first-child a {
  border-left:none;
}
nav li.last a {
  border-right:none;
}
nav ul ul {
  background:#6a6a6a;
}
nav ul ul a {
  border-left:none;
  border-right:none;
}
nav ul ul a.omg-disabled {
  color: gray;
}
nav ul ul a:hover {
  background-color:#555;
}
nav ul ul a.omg-disabled:hover {
  background:#6a6a6a;
}

/* file tree & object tree styles */
.folder, .obj {
  font-weight: bold;
}

/* H3 (properties accordian header) styles */
 h3 {
  margin:0; 
  border:1px solid #222; 
  position:relative; 
  background-color:#6a6a6a; 
  color: white; 
  font-size: 14px;
  font-weight: normal;
}

/* objtype styles */
/* cursor file from http://www.google.com/intl/en_ALL/mapfiles/openhand.cur */
.objtype {
  display: block;
  border:1px solid #222;
  background-color: #6a6a6a;
  color:white;
  cursor: url( /static/images/openhand.cur ) 8 8 , auto ;
}

/*palette library styles */
/*
#objtypetable_processing {
   ...
}
*/

#objtypetable_info {
  font-weight: bold;
  color:white;
}

#objtt-search {
  font-weight: bold;
  color:white;
}

#objtt-group {
  border-spacing: 0;
}
#objtt-select {
  margin: 0;
}
#objtt-clear {
  margin: 0;
}

/* console history box */
#historybox {
  background-color: gray;
  border-style:groove;
}

/* log viewer */
#logdata {
  font-family: monospace;
  white-space: nowrap;
}
#logbody {
  width: 100% !important;  /* Don't get clobbered by (autogen) element.style */
  height: 100% !important;
  overflow: auto;
}

/* button styles */
.button {
  border:1px solid #222; 
  background-color:#6a6a6a; 
  color: white; 
  font-size:14px;
}

/* context menus */
.context-menu {
  border:1px solid #666;
  margin:0;
  padding:3px;
  list-style:none;
  width:100px;
  color:#000;
  background-color:#eee;
  color: black;
} 
.context-menu li:hover, .context-menu .context-menu-item-active {
  background-color:#ccc;
}
.disabled {
  color:#999;
  background-color:#eee !important;
}

.ui-icon-trash {
  background-image: url(/static/css/ui-openmdao/images/ui-icons_ffffff_256x240.png);
  background-position: -176px -96px !important;
  width: 16px !important;
  height: 16px !important;
} 

.ui-icon-minimized {
  background-image: url(/static/css/ui-openmdao/images/ui-icons_222222_256x240.png);
  background-position: -48px -16px !important;
  width: 16px !important;
  height: 16px !important;
} 

.ui-icon-maximized {
  background-image: url(/static/css/ui-openmdao/images/ui-icons_222222_256x240.png);
  background-position: -112px -16px !important;
  width: 16px !important;
  height: 16px !important;
} 

.toggle {
  height: 16px;
  width: 16px;
  display: inline-block;
}

.toggle.expand {
  background: url(/static/css/ui-openmdao/images/ui-icons_ffffff_256x240.png);
  background-position: -16px -128px;
}

.toggle.collapse {
  background: url(/static/css/ui-openmdao/images/ui-icons_ffffff_256x240.png);
  background-position: -48px -128px;
}

/* CSS3 */
.borderradius nav, h3, .button {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px; 
}
.cssgradients nav, h3, .button {
  background-image:-moz-linear-gradient(0% 22px 90deg, #222, #999);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#999), to(#222));
}
.boxshadow.rgba nav, h3, .button {
  -moz-box-shadow:2px 2px 2px rgba(0,0,0,.75);
  -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.75);
  box-shadow:2px 2px 2px rgba(0,0,0,.75);
}
.cssgradients nav li:hover {
  background-image:-moz-linear-gradient(0% 100px 90deg, #999, #222);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#555));
}
.borderradius nav ul ul {
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-left-radius:4px;
  -webkit-border-bottom-right-radius:4px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.boxshadow.rgba nav ul ul {
  background-color:rgba(0,0,0,0.8);
  -moz-box-shadow:2px 2px 2px rgba(0,0,0,.8);
  -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8);
  box-shadow:2px 2px 2px rgba(0,0,0,.8);
}
.rgba nav ul ul li {
  border-left:1px solid rgba(0,0,0,0.1);
  border-right:1px solid rgba(0,0,0,0.1);
}
.rgba nav ul ul a:hover {
  background-color:rgba(85,85,85,.9);
}
.rgba nav ul ul a.omg-disabled:hover {
  background-color:rgba(0,0,0,0.8);
}
.borderradius.rgba nav ul ul li.last {
  border-left:1px solid rgba(0,0,0,0.1);
  border-bottom:1px solid rgba(0,0,0,0.1);
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-left-radius:4px;
  -webkit-border-bottom-right-radius:4px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.csstransforms nav ul a span {
  -moz-transform:rotate(-180deg);
  -webkit-transform:rotate(-180deg);
}

.cell-editable {
    border: 1px solid #cccccc;
    background:rgba(255,255,255,255);
    color:rgba(0,0,0,255);
}

.framework_var {
    /*background:rgba(204,204,204,255);
    color:rgba(0,0,0,255);*/
    font-style:italic;
}

.parameter {
    color:rgba(100,180,255,255);
}
.constraint {
    color:rgba(100,180,255,255);
}
.objective {
    color:rgba(100,180,255,255);
}

/* specific styling for controls for gemoetry viewer */
.jstree-geom a {
    color:white;
}

/* specific icons for the items in the component tree */
.jstree-openmdao a > ins.jstree-assembly {
    background-image:url("/static/images/icons.png"); 
    background-repeat:no-repeat; 
    background-color:transparent; 
    background-position:-32px 0px !important;
}

.jstree-openmdao a > ins.jstree-driver {
    background-image:url("/static/images/icons.png"); 
    background-repeat:no-repeat; 
    background-color:transparent; 
    background-position:-16px 0px !important;
}

.jstree-openmdao a > ins.jstree-component {
    background-image:url("/static/images/icons.png"); 
    background-repeat:no-repeat; 
    background-color:transparent; 
    background-position:0px 0px !important;
}

/* specific icons for the items in the file editor tree */
#file_pane a > ins.jstree-folder, #ftree_pane a > ins.jstree-folder {
    background-image:url("/static/images/icons.png"); 
    background-repeat:no-repeat; 
    background-color:transparent; 
    background-position:-96px 0px !important;
}

#file_pane a > ins.jstree-file, #ftree_pane a > ins.jstree-file {
    background-image:url("/static/images/icons.png"); 
    background-repeat:no-repeat; 
    background-color:transparent; 
    background-position:-128px 0px;
}

#file_pane a > ins.jstree-python-file, #ftree_pane a > ins.jstree-python-file {
    background-image:url("/static/images/icons.png"); 
    background-repeat:no-repeat; 
    background-color:transparent; 
    background-position:-112px 0px;
}

/*Overriding jQuery UI ToolTip width*/
div.ui-tooltip{
    max-width: 200px;
}
/* end CSS3 */


